body {
    text-align: center;
}
nav {
    background-color: rgb(17, 203, 113);
    padding: 10px;
}
a {
    color: white;
    margin: 40px;
    line-height: 1.5em;
}
h1, h2 {
    color: rgb(65, 17, 160);
}
img {
    width: 800px;
    border: 4px solid steelblue;
}
p {
    padding: 10px;
}
#active {
    background-color: white;
    color: steelblue;
}