@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merienda&family=PT+Mono&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 35px;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: white;
    color: steelblue;
}

.logo, .icon {
    width: 80px;
    padding-top: 10px;
}
main section{
    text-align: center;
}
body {
    background-color:#fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #abc43d;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: white;
    color: steelblue;
}